html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: #000000;
}
